@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  /* COLORS */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-accent-dark-900: #2d2e2f;
  --color-accent-dark-800: #424344;
  --color-accent-dark-700: #575859;
  --color-accent-dark-600: #6c6d6d;
  --color-accent-dark-500: #818282;
  --color-accent-dark-400: #969797;
  --color-accent-dark-300: #ababac;
  --color-accent-dark-200: #c0c0c1;
  --color-accent-dark-100: #d5d5d5;
  --color-accent-green: #f0b65e;

  /* FONTS */
  --ff-Montserrat: 'Montserrat';

  /* FONT-SETTINGS */

  /* OTHER */
  --default-button-paddings: 8px 16px;
  --default-border-radius: 8px;
  --default-transition: 200ms;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
body {
  margin: 0;
  font-family: var(--ff-Montserrat), -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
